@primary-color: #3498db;
@icon-fontsize: 25px;
@w-full: 100%;
@w-half: 50%;

.box-shadow(){
    box-shadow: 0 5px 5px #3498db61;
}
.h4(){
    color: darken(@primary-color, 34%);
    font-size: 16px;
}
.select-input(){
    border: rgba(128, 128, 128, 0.458) solid 1px;
    font-size: 14px;
    padding: 10px 10px;
    color: gray;
    border-radius: 5px;
}

.top-bar{
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 8px 30px;
    box-shadow: 0 10px 10px rgba(125, 119, 119, 0.358);
    // position: fixed;
    // width: 100%;
    // top: 95px;

    i{
        // height: fit-content;
        // margin: auto 0;
        font-size: @icon-fontsize + 5;
        padding: 4px 14px;
        font-weight: lighter;
        background-color: @primary-color - 30;
        color: white;
        border-radius: 3px;
        cursor: pointer;
    }

    p{
        font-size: @icon-fontsize;
        font-weight: normal;
        color: darken(@primary-color, 34%);
        height: fit-content;
        margin: auto 0;
    }
}
.tab-content{
    
    padding: 40px 60px;

    .content-one{
        background-color: white;
        padding: 30px 20px;
        box-shadow: 0 5px 5px #3498db61;
        h4{
            color: darken(@primary-color, 34%);
            font-size: 16px;
            margin-bottom: 20px;
        }
        .header-div{
            display: flex;
            gap: 20px;

            .header-inputs{
                width: 80%;
                .header-input1{
                    width: 100%;
                    margin-bottom: 18px;
                    label{
                        display: flex;
                        margin-bottom: 3px;

                        p{
                            font-size: 14px;
                            color: gray;
                            width: 100%;

                            span{
                                color: red;
                            }
                        }

                        .my-span{
                            font-size: 14px;
                            color: gray;
                            display: flex;
                            place-content: end;
                            // background: #000;
                            width: 100%;
                        }
                    }
                    input{
                        width: 100%;
                        border: rgba(128, 128, 128, 0.625) solid 1px;
                        color: black;
                        font-size: 15px;
                        padding: 12px 10px;
                        outline: none;
                        margin-top: 5px;
                        border-radius: 5px;
                    }
                }
            }

            .header-btn{
                // background-color: green;
                height: fit-content;
                margin-top: 28px;
                
                button{
                    color: white;
                    background-color: @primary-color;
                    font-size: 13px;
                    border: none;
                    padding: 14px 45px;
                    border-radius: 3px;
                    cursor: pointer;
                }
            }
        }
    }

    .content-two{
        box-shadow: 0 5px 5px #3498db61;
        background-color: white;
        padding: 20px 40px;
        margin-top: 30px;

        h4{
            .h4()
        }

        .core-div{
            display: flex;
            gap: 50px;
           
            .core-div1{
                width: 90%;

                .core-input1{
                    margin-bottom: 20px;

                    label{
                        display: block;
                        font-size: 15px;
                        color: gray;
                        margin-bottom: 6px;
                    }
                    select{
                        width: 100%;
                        border: rgba(128, 128, 128, 0.425) solid 1px;
                        font-size: 14px;
                        padding: 10px 10px;
                        color: gray;
                        border-radius: 5px;
                    }
                }
            }
            .core-div2{
                
                .article-div{
                    label{
                        font-size: 15px;
                        color: gray;
                        
                    }

                    div{
                        margin-top: 3px;
                        display: flex;
                        gap: 20px;
                        select{
                            width: 50%;
                            border: rgba(128, 128, 128, 0.458) solid 1px;
                            font-size: 14px;
                            padding: 10px 10px;
                            color: gray;
                            border-radius: 5px;
                        }
                        div{
                            background-color: @primary-color;
                            color: blue;
                            font-size: 12px;
                            height: fit-content;
                            margin: auto 0;
                            padding: 10px 20px;
                            border-radius: 5px;
                        }
                    }
                }
                .article-p{
                    font-size: 14px;
                    color: gray;
                    width: 80%;
                    line-height: 20px;
                    margin: 15px 0;
                }
                .article-details{
                    display: flex;
                    gap: 35px;

                    .detailsone{
                        display: flex;
                        gap: 5px;

                        span{
                            height: fit-content;
                            margin: auto 0;
                        }
                        i{
                            height: fit-content;
                            margin: auto 0;
                            font-size: @icon-fontsize - 5;
                        }
                    }
                    .detailstwo{
                        color: @primary-color;
                    }
                }
                .check-box{
                    display: flex;
                    gap: 5px;
                    margin: 15px 0;

                    input{
                        border: rgba(128, 128, 128, 0.493) solid 1px;
                        width: 16px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .text-area{
                    width: 100%;
                    

                    textarea{
                        width: 100%;
                        padding: 10px 20px;
                        border: rgba(128, 128, 128, 0.632) solid 1px;
                    }
                }
            }
        }
    }

    .content-three{
        background-color: white;
        .box-shadow();
        margin-top: 30px;
        padding: 30px 40px;

        h4{
            .h4();
        }
        .media-div1{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            margin-top: 30px;

            .item-one{
                width: 100%;
                label{
                    display: block;
                    font-size: 14px;
                    margin-bottom: 4px;
                }
                select{
                    .select-input();
                    width: @w-full;
                }
            }
        }
        .media-check{
            display: flex;
            gap: 10px;
            margin: 10px 0;

            input{
                width: 20px;

            }
            p{
                font-size: 14px;
            }
        }
    }
    .content-four{
        background-color: white;
        .box-shadow();
        margin-top: 30px;
        padding: 30px 10px;

        .keyword-div{
            display: flex;
            gap: 30px;

            div{
                h4{
                    .h4();
                }
                p{
                    font-size: 12px;
                    margin-top: 6px;
                }
            }
            button{
                background-color: @primary-color;
                color: white;
                height: fit-content;
                margin: auto 0;
                border: none;
                font-size: 12px;
                padding: 14px 35px;
                border-radius: 4px;
            }
        }

        .keyword-div2{
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-gap: 10px;

            .keyword-items{
                display: flex;
                width: fit-content;
                background-color: #3498db;
                height: fit-content;
                padding: 2px 8px;
                border-radius: 3px;
                cursor: pointer;

                p{
                    font-size: 11px;
                    color: blue;
                    height: fit-content;
                    margin: auto 0;
                }
                i{
                    font-size: @icon-fontsize - 5 ;
                    height: fit-content;
                    margin: auto 0;
                    color: blue;
                    margin-left: 15px;
                    cursor: pointer;
                }
            }
            .span-2 {
                grid-column: span 2;
              }
              
        }
        .keyword-div3{
            .keyword-div2;
            grid-template-columns: repeat(4, auto);
            margin-top: 10px;
        }
        .keyword-p{
            font-size: 14px;
            margin-top: 15px;
            color: gray;
        }
    }
}


// responsive

@media screen and (max-width: 1024px) {
    


    .tab-content{
        padding: 30px 15px;
    }
    .header-inputs{
        width: 70% !important;
    }
    .core-div{
        display: block !important;
    }
    .core-div1{
        width: 100% !important;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .article-p{
        width: 100% !important;
    }
    .media-div1{
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .keyword-div2{
        grid-template-columns: repeat(3, auto) !important;
    }
    .keyword-div3{
        grid-template-columns: repeat(3, auto) !important;
    }
}


@media screen and (max-width: 768px) {
    
    .header-inputs{
        width: 100% !important;
    }
    .header-div{
        display: block !important;
    }

    .content-four{
        .keyword-div{
            display: block !important;

            button{
                margin-top: 20px !important;
            }
        }
    }
    

}

@media screen and (max-width: 640px) {
    .core-div2{

        .article-div{

            div{
                display: block !important;

                select{
                    width: 100% !important;
                    margin-bottom: 20px;

                }
            }
        }
        .article-p{
            font-size: 10px !important;
            width: 100% !important;
            line-height: 14px !important;
        }
        .article-details{
            // font-size: 12px !important;
            display: block !important;
        }
        .check-box{

            p{
                font-size: 10px !important;
            }

            
        }
    }

    .media-div1{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .media-check{
        p{
            font-size: 10px !important;
        }
    }

    .keyword-div2{
        grid-template-columns: repeat(1, auto) !important;
        
    }
    .keyword-div3{
        grid-template-columns: repeat(1, auto) !important;
    }
}
